main{
    height: 90vh;
    padding: 2rem;
}

.product-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.price{
    margin: 1rem 0rem;
    font-size: 1.1rem;
    font-weight: bold;
}


.buy{
    text-decoration: none;
    padding: .3rem 1rem;
    font-size: 1rem;
    background-color: var(--btn-color);
    color: var(--secondary-color);
    transition: all 200ms ease-in-out;
}

.buy:hover{
    background-color: var(--secondary-color);
    color: var(--btn-color);
}

@media screen and (max-width:900px) {
    .product-data{
        grid-template-columns: 1fr;
    }
    .product-img{
        text-align: center;
        width:300px;
    }
}