
nav.navbar{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}

ul.links{
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

ul.links li a{
    text-decoration: none;
    color: currentColor;
    font-size: 1rem;
    font-weight: bold;
    opacity: .5;
    transition: all 500ms ease-in;
}

ul.links li a:hover{
    opacity: 1;
}

h1.logo{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

div.company-desc{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.search-form #search{
    padding: .4rem;
    background: none;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.search-form #search:focus{
    outline: none;
    border-bottom: 2px solid var(--btn-color);

}

.search-form #go{
    transform: translateX(-2rem);
    background: none;
    border: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.search-form #go:hover{
    transform: translate(-2rem, -.2rem);
    color: var(--btn-color);
}

.burger{
    display: none;
}

@media screen and (max-width:600px) {
    ul.links{
        flex-direction: column;
        align-items: flex-start;
        gap: .4rem;
        transition: all 200ms ease-in;
        display: none;
    }

    ul.links li{
        border-bottom: 1px solid gray;
    }

    .burger{
        display: block;
        align-self: flex-end;
        margin-right: 2rem;
        cursor: pointer;
    }

    .open{
        display: inline-block !important;
        
    }
}